
@keyframes slide-from-left {
    
    0% {
        transform: translateX(160%);
    }
    20% {
        transform: translateX(160%);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide-with-fade {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    20% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-from-left-plan {
    from {
        transform: translateX(450px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes main-menu-animation {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    20% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.slide-from-left {
    animation: slide-from-left 1s ease-out;
}

.fade-in {
    animation: main-menu-animation 1s ease-in-out;
}

.fade-in-services .service-card {
    animation: main-menu-animation 1s ease-in-out;
}

.slide-from-left-plan {
    animation: slide-from-left-plan 1s ease-in-out;
}

.slide-with-fade {
    animation: slide-with-fade 1s ease-in-out;
}

@keyframes whyus-background {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.whyus-background {
    animation: whyus-background 1s ease-in-out;
}