footer {
    background-color: #1b1543;
    color: white;
}

.footer-menu {
    display: flex;
    padding: 32px;
    justify-content: space-around;
    
}

.footer-items{
    list-style-type: none;
}

.footer-items li {
    padding: 4px;
    font-size: 11px;

    
}

.footer-items li a {
    color: #c2c2c2;
}

@media screen and (max-width: 768px) {
    .footer-menu {
        justify-content: initial;
        flex-wrap: wrap;
    }

    .footer-menu-item {
        width: 100%;
    }
}