.last-head-section {
    display: flex;
    margin-top: 64px;
    justify-content: center;
}

.last-head-section .card {
    padding: 24px 32px;
    box-sizing: border-box;
    width: 300px;
    background-color: white;
    border-radius: 16px;
    margin: auto;
    margin-left: 32px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.4);
    transition: .3s ease-in-out;
    margin-top: 16px;
}

.last-head-section .card:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.8);
}

.last-head-section .card img {
    object-fit: cover;
    height: 58px;
    margin: 0 auto;
    display: block;
}

.last-head-section .card p:nth-child(2) {
    font-size: 19px;
}

.last-head-section .card p {
    text-align: center;
}

.last-head-section .card p:nth-child(3) {
    font-size: 12px;
    color: rgb(70, 70, 70);
}


@media screen and (max-width: 768px) {
    .last-head-section .card {
        margin: auto;
        margin-top: 16px;
    }
}