.last-head-section {
    display: flex;
    margin-top: 64px;
    justify-content: center;
}

.last-head-section .card {
    padding: 24px 50px;
    box-sizing: border-box;
    width: 250px;
    background-color: white;
    border-radius: 16px;
    margin-left: 32px;
}

.last-head-section .card img {
    object-fit: cover;
    height: 58px;
    margin: 0 auto;
    display: block;
}

.last-head-section .card p:nth-child(2) {
    font-size: 19px;
}

.last-head-section .card p {
    text-align: center;
}

.last-head-section .card p:nth-child(3) {
    font-size: 12px;
    color: rgb(70, 70, 70);
}