header {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

.head-menu {
    display: flex;
}

.head-menu .left {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
}

.head-menu .left li {
    margin-left: 4px;
}

* {
    padding: 0;
    margin: 0;
}