header {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 7px 0;
}

.underline {
    width: 0;
    display: block;
    background-color: white;
    height: 3px;
    transition: .2s ease-in-out;
    margin: 0 auto;
}

.head-menu li:hover .underline{
    width: 100%;
}


.head-section {
    background: url('./images/MainBackgroundRtl.png');
    height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

.head-menu {
    display: flex;
}

.head-menu .left {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    
}

.head-menu .left li {
    margin-left: 16px;
}

.main-menu {
    margin-top: 16px;
    color: white;
    display: flex;
    direction: rtl;
}

.main-menu .left {
    flex-grow: 1;
    font-size: 21px;
}

.main-menu .right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin: auto 0;

}

.main-menu .right li {
    margin-left: 20px;

}

.main-menu .right li:hover .underline {
    width: 100%;
}

.main-menu .right a {
    font-size: 18px;
}


* {
    padding: 0;
    margin: 0;
    font-family: IRANSans;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}